<html>
<head>
<title>Youtube Instant</title>
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>
	<h1>Youtube Instant</h1>
	<form>
		Search: <input type="text" id="query">
	</form>

	<div id="playerContainer">
		<button class="btn" id="previous"><</button>
		<div id="player"></div>
		<button class="btn" id="next">></button>
		<div id="note">Note: this is a reverse engineered version of the original Youtube Instant, which can be found at <a href="http://www.ytinstant.com">www.ytinstant.com</a>. <br />
		Credit for the original goes to Feross.</div> 
	</div>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script>

      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
         player = new YT.Player('player', {
	          height: '390',
	          width: '640',
	          videoId:'M7lc1UVf-VE',
	          events: {
	            'onReady': onPlayerReady,
	            'onStateChange': onPlayerStateChange
	          }
	      });
  	  }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      function onPlayerStateChange(event) {
      }
      function stopVideo() {
        player.stopVideo();
      }

     var counter = 0;
     var xhr = [];
     var queryStr;
     $('#query').keyup(function(){
     		if (queryStr != $('#query').val()){
	     	    queryStr = $('#query').val();
		      	var url = 'http://gdata.youtube.com/feeds/api/videos?q=' + queryStr + '&start-index=1&max-results=10&v=2';
		      	xhr[counter] = $.get(url, function(data){
		      		loadVideos(data);
		      	});
		        if (xhr[counter-1]) {
		        	xhr[counter-1].abort();
		        }
		        counter++;
		     }
	 });

	function loadVideos(xml){
		var idArr = xml.getElementsByTagName('id');
		var vArr = [];
		
		for (var i = 0; i < idArr.length; i++){
			var matches = /(.*)video:(.*)/.exec(idArr[i].textContent);
			if (matches != null) 
				vArr.push(matches[2]);
		}
		var vIndex = 0;

	    player.loadVideoById({videoId: vArr[vIndex]});

	    $('#previous').off('click').click(function(){
	    	if (vIndex > 0){
	    		vIndex--;
	    	} else {
	    		vIndex = vArr.length - 1;
	    	}
	    	console.log(vArr[vIndex]);
	    	player.loadVideoById({videoId: vArr[vIndex]});
	    })

  		$('#next').off('click').click(function(){
  			if (vIndex < vArr.length - 1){
  				vIndex++;
  			} else {
  				vIndex = 0;
  			}
  			console.log(vArr[vIndex]);
  			player.loadVideoById({videoId: vArr[vIndex]});
  		});
	}

	</script>
</body>
</html>